doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Post Process

    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900,900italic,700italic,400italic,100italic')
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700')
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700')
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Alfa+Slab+One')

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section(data-bespoke-state="theme--ugh" data-bespoke-hash='ugh')
        h2 WEBSITES!!!
        //- h4 ugh, websites can be a pain
      
      section(data-bespoke-state="theme--me" data-bespoke-hash='me')
        h2 Ben
        //- h4 Benjamin Gandhi-Shepard

        ul
          li
          li ~13 years making webites
          li Photographer / Artist / MSW Social Worker
          li So, how did I get into web nerd stuff?

      
      section(data-bespoke-state="theme--lied" data-bespoke-hash='lied')
        h3 I LIED!

      
      section(data-bespoke-state="theme--white" data-bespoke-hash='tips')
        h3 What makes an
          br 
          i amazing 
          |-website?
          
        ul
          li You can find the steering wheel : 
            a(href="https://momentum-demo.squarespace.com/ujad9sykpzkcnerj4mif64q0uccudi" target="_blank") Ugh
            |  / 
            a(href="https://five-demo.squarespace.com/" target="_blank") Awesome 
      
          li It's gets to the point : 
            a(href="http://waulah.uipro.net/" target="_blank") Ugh
            |  /
            a(href="http://cresudo.com/enoire/" target="_blank") Ugh
            |  /  
            a(href="https://benjamin2720.wixsite.com/website-1") Awesome

          li It fits your needs : 
            a(href="http://triada.just-themes.com/" target="_blank") Ugh
            |  /  
            a(href="http://anschultz.com/" target="_blank") Awesome

      
      section(data-bespoke-state="theme--watermellon" data-bespoke-hash='tools')
        h2 What are the best DIY tools
        
        ul
          li Squarespace : 
            a(href="https://www.squarespace.com/" target="_blank") Site
            |  /  
            a(href="https://github.com/css/csso" target="_blank") Templates

          li Wix : 
            a(href="https://www.wix.com" target="_blank") Site
            |  /  
            a(href="https://www.wix.com/website/templates" target="_blank") Templates

          li WordPress : 
            a(href="https://wordpress.com/" target="_blank") Site
            |  /  
            a(href="https://wordpress.com/themes" target="_blank") Themes
            |  /  
            a(href="https://themeforest.net/category/wordpress" target="_blank") ThemeForest
            

      section(data-bespoke-state="theme--watermellon" data-bespoke-hash='goodies')
        h2 Look Sharp!
        
        ul
          li Your own URL : 
            a(href="https://www.godaddy.com" target="_blank") GoDaddy

          li Your own E-mail address : 
            a(href="https://gsuite.google.com/" target="_blank") G Suite (AKA - Google Apps)

          li Clean website : 
            a(href="https://www.squarespace.com/" target="_blank") SquareSpace
            |  /
            a(href="https://www.wix.com" target="_blank") Wix  
            |  /  
            a(href="https://wordpress.com/" target="_blank") Wordpress

          li Great business cards : 
            a(href="https://www.moo.com/us/" target="_blank") MOO
          
          li Good photos : 
            a(href="http://optimizilla.com/" target="_blank") Optimizilla
            |  /  
            a(href="https://www.youtube.com/watch?v=r8wv_dbwB9E" target="_blank") Photoshop

          li What are they doing? : 
            a(href="Google Analytics") Google Analytics

          //- li Make a sitemap
          //-   a(href="https://www.xml-sitemaps.com/" target="_blank")


      section(data-bespoke-state="theme--watermellon" data-bespoke-hash='lies')
        h2 Popular misconceptions
        
        ul
          li Too much scrolling
          li More interactivity
          li Need lots of sections and columns
          li Leaving your site
          li Social Media
          li Blogging


      section(data-bespoke-state="theme--watermellon" data-bespoke-hash='you')
        h2 Popular misconceptions
        
        ul
          li Too much scrolling
          li More interactivity
          li Need lots of sections and columns
          li Leaving your site
          li Social Media
          li Blogging

            
      section(data-bespoke-state="theme--dark" data-bespoke-hash='help')
        h2 If you need help...
        p 
          a(href="mailto:benjamin@solvm.com") E-mail me :)

        pre.language-bash
          code.
            $ sudo thank --everyone  


    script(src='build/build.js')
